<div class="container">
<div class="row">
  <div class="col-lg-3 ">
    <%= render 'shared/user_info' %>
  </div>
  <div class="col-lg-6 well">
    <h3>Calendrier d'évenement :</h3>
  
    <hr>
    <div id="calendar" class="well">

    </div>
  </div>
  <div class="col-lg-3">
    <%= render 'shared/links' %>
  </div>
</div>
</div>